<h1>Hover</h1>

<% if @user.first_name %>
<p>Hi <%= @user.first_name %>,</p>
<% else %>
<p>Hi there,</p>
<% end %>

<p>
Thanks for joining Hover! Type in the code below on the app to activate your account. This code will be valid for 2 hours.
</p>

<p><%= @user.activation_code %></p>